version: '3.8'
services:
  mongodb:
    image: 'mongo:7.0.5'
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=playlist
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password

